.teams_table {
    width: 100%;
    border: 1px solid #DDD;
    border-collapse: separate;
    border-spacing: 2px;
    margin: 10px 0;
}
.teams_table th, .teams_table td {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.teams_table td { 
    vertical-align: middle;
}
.teams_table_heading {
    background-color: #DDD;
}
.teams_table_row {
    background-color: #F9F9F9;
}
.teams_table th{
    font-weight: bold;
}
img {
    vertical-align: middle;
}
.errors {
    color: #ff0000;
}
.form-container {
    text-align: center;
}
.form-container input{
    margin: 5px auto;
    
}
.form-block {
    display: inline-block;
}